.chat-wrapper {
  border-bottom: 1px solid #323546;
  margin-bottom: 10px;
}

.chat-wrapper .message {
  margin-top: 10px;
}

.chat-wrapper .chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
}

.chat-wrapper .chat-footer div {
  display: flex;
  align-items: center;
}

.chat-wrapper .chat-footer p {
  color: rgb(133, 140, 162);
  font-size: 12px;
  margin-left: 7px;
}
